{
    "semi": true,
    "tabWidth": 4,
    "printWidth": 360,
    "useTabs": true,
    "quoteProps": "as-needed",
    "bracketSpacing": true,
    "singleQuote": true,
    "bracketSameLine": false,
    "endOfLine": "crlf",
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": ["*.js"],
            "options": {
                "semi": true,
                "tabWidth": 4,
                "useTabs": false,
                "quoteProps": "consistent",
                "bracketSpacing": true,
                "singleQuote": true,
                "bracketSameLine": false,
                "arrowParens": "always"
            }
        },
        {
            "files": [".eslintrc.js"],
            "options": {
                "quoteProps": "consistent"
            }
        }
    ]
}
